<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="/assets/mot.jpg" width="200" alt="An image of a Mother of Thousands plant with many small plantlets forming on its waxy green leaves." />
      </div>

      <div class="footer-col footer-col-3">
        <p>
          This blog is a place for musings on media, in no particular direction.
        </p>
        <p>I like <a class="u-email" href="mailto:{{ site.email }}">chit-chat</a>.</p>
        <p>&copy; 2020 Alicia No</p>
      </div>

    </div>

  </div>

</footer>
