<footer class="Footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="flex flex-col align-center mt4">
      <a href="/">
        <img src="https://aliciawillett.s3.amazonaws.com/images/blog/mot-dither.jpg" class="Footer__image"
        alt="An image of a Mother of Thousands plant with many small plantlets forming on its waxy green leaves." />
      </a>
      {%- assign date_format = default: "%A, %B %e, %Y" -%}
      <p class="small mt1 text-center">
        &copy; Alicia No {{ site.time | date: "%m/%d/%Y @ %I:%M %p" }}.
        <br/>
        <em>
          All content is based on the opinions and research of the author, an imperfect human.
          Thanks for reading!
        </em> 
      </p>
    <div>
  </div>
</footer>
