<footer class="Footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">

    <div class="flex flex-row justify-end">
      <div class="w100 md-w33 xl-w25 p1 border-charcoal mt2 mb2">
        <form action="https://tinyletter.com/m-o-t" method="post" target="popupwindow"
          onsubmit="window.open('https://tinyletter.com/m-o-t', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <h4 class="subheading">Never miss a post!</h4>
          <p class="detail mb1">(they can be sporadic)</p>
          <div class="Footer__fieldset flex flex-col">
            <label for="tlemail" class="sr-only">Enter your email address</label>

            <input class="Footer__input text-center mb_5" type="text" name="email" placeholder="email address" id="tlemail" />
            <input type="hidden" value="1" name="embed" />
            <input class="Footer__button" type="submit" value="subscribe" />
          </div>
        </form>
      </div>
    </div>

    <div class="flex flex-row justify-center mt2">
      <div class="flex flex-col text-center align-center w100 md-w33 p1">
        <img src="https://aliciawillett.s3.amazonaws.com/images/blog/mot-dither.jpg" class="Footer__image"
          alt="An image of a Mother of Thousands plant with many small plantlets forming on its waxy green leaves." />
        {%- assign date_format = default: "%A, %B %e, %Y" -%}
        <p class="detail mt1">
          &copy; {{ site.time | date: "%m/%d/%Y @ %I:%M %p" }}, by Alicia No.
        </p>
        <p class="detail italic mt_5">
          All content is based on the opinions and research of the author, an imperfect human.
          Thanks for reading!
        </p>
      </div>
    <div>
  </div>
</footer>
