<div class="flex flex-row justify-end">
  <div class="w100 md-w33 xl-w25 p1 border-charcoal mt2 mb2">
    <form action="https://tinyletter.com/m-o-t" method="post" target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/m-o-t', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <h4 class="subheading">Never miss a post!</h4>
      <p class="detail mb1">(they can be sporadic)</p>
      <div class="Footer__fieldset flex flex-col">
        <label for="tlemail" class="sr-only">Enter your email address</label>

        <input class="Footer__input text-center mb_5" type="text" name="email" placeholder="email address"
          id="tlemail" />
        <input type="hidden" value="1" name="embed" />
        <input class="Footer__button" type="submit" value="subscribe" />
      </div>
    </form>
  </div>
</div>