<div class="mb1">
  <div class="md-flex flex-row">
    <p class="dt-published detail mb_5 md-flex flex-grow">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}</time>
    </p>
    <p class="dt-published detail mb_5">{{ page.location}}</p>
  </div>
  <div class="flex flex-row">
    <div class="PostHeader__thumbnail mr1">
      <img src="{{page.thumbnail }}" />
    </div>
    <div class="md-flex flex-col">
      <h1 class="subheading italic " itemprop="name headline">{{ page.subtitle | escape }}</h1>
      <h2 class="heading uppercase flex-grow">{{page.title | escape }}</h2>
    </div>
  </div>
</div>