<div class="mb2">
  <div class="flex flex-col md-flex-row">
    <div class="PostHeader__thumbnail mr1">
      <img src="{{page.thumbnail }}" />
    </div>
    <div class="md-flex flex-col">
      <p class="dt-published detail md-flex">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}</time>
      </p>
      <p class="detail">{{ page.location }}</p>
      <h1 class="heading uppercase">{{page.title | escape }}</h1>
      <h2 class="subheading italic " itemprop="name headline">{{ page.subtitle | escape }}</h2>
    </div>
  </div>
</div>