<header class="post-header">
  <h1 class="heading" itemprop="name headline">{{ page.title | escape }}</h1>
  <h2 class="subheading flex-grow">{{page.subtitle | escape }}</h2>
  <div class="md-flex flex-row">
    <p class="dt-published detail md-flex flex-grow">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}</time>
    </p>
    <p class="dt-published detail">{{ page.location}}</p>
  </div>
</header>