.DoubleImageComponent {
  margin: 2rem 0;
  figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  figure figcaption { 
    margin-top: 0.5rem;
    font-style: italic;
  }

  @media (min-width: map-get($breakpoints, md)) {
    display: flex;
    figure > img {
      max-height: 250px;
      align-self: flex-start;
    }
  }
}