.ImageComponent {
  figure { 
    max-width: 100%;
    margin: 2rem 0 1rem 0;
  }

  figure figcaption { 
    margin-top: 0.5rem;
    font-style: italic;
    min-height: 2rem;
  }
  
  .ImageComponent--image-wrapper {
    background-color: $leaf-green;
    opacity: 0.15;
    min-height: 250px;
    transition: opacity $transition, background-color $transition, min-height $transition;
  }

  img {
    opacity: 0;
    width: 100%;
    transition: opacity $transition;
  }

  &--loaded {
    figure {
      border: none;
    }
    img {
      opacity: 1;
    }

    .ImageComponent--image-wrapper {
      background: none;
      opacity: 1;
    }
  }
}

@media (min-width: map-get($breakpoints, md)) {
  .ImageComponent--medium figure { max-width: 380px; }
  .ImageComponent--large figure { max-width: 500px; }
  .ImageComponent--wide figure { max-width: 100%; }
}