.ImageComponent {
  figure { 
    max-width: 100%;
    margin: 2rem 0;
  }

  figure figcaption { 
    margin-top: 0.5rem;
    font-style: italic;
  }

  @media (min-width: map-get($breakpoints, md)) {
    figure { max-width: 380px; }
  }
}