.Post {
  h3 {
    @extend .heading;
    margin: 1rem 0;
  }

  ol {
    list-style-position: inside;
    list-style-type: lower-roman;
    margin-left: 0;
    margin-bottom: 3rem;
  }

  ol li {
    margin-bottom: 1rem;
    overflow-wrap: break-word;
  }

  &__archive {
    border-top: 1px solid $charcoal;
    padding-top: 4rem;
  }

  &__References {
    ol {
      list-style-type: decimal;
    }
  }

  &__spacer {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__body {
    p {
      @include relative-font-size(1.25);
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: map-get($breakpoints, sm)) {
  .Post {
    padding-top: 2rem;
  }
}

