.Post {
  h3 {
    @include relative-font-size(1.75);
    letter-spacing: 0.5rem;
    margin: 1rem 0;
  }

  ol {
    list-style-position: inside;
    list-style-type: lower-roman;
    margin-left: 0;
    margin-bottom: 3rem;
  }

  ol li { margin-bottom: 1rem; }


  @media (min-width: map-get($breakpoints, md)) {
    h3 { @include relative-font-size(1.875); }
  }

  &__spacer {
    width: 100%;
    margin-bottom: 1rem;
  }
}

