.PostLink {
  &__thumbnail {
    clip-path: inset(0);
    height: 7rem;
    width: 9rem;
    opacity: 50%;
    transition: opacity $transition;
  }

  &:hover {
    .PostLink__thumbnail {
      opacity: 75%;
    }
  }
}