.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.bold { font-style: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.cursive { font-family: cursive; }
.text-underline { text-decoration: underline; }
.underlined {
  border-bottom: 1px solid $charcoal;
  padding-bottom: 0.25rem;
}

.site-title {
  @include relative-font-size(5);
  line-height: 5rem;
  letter-spacing: 0.35rem;
  margin-top: 2rem;

  @media(min-width: map-get($breakpoints, sm)) {
    @include relative-font-size(6);
    line-height: 5rem;
  }

  @media(min-width: map-get($breakpoints, lg)) {
    @include relative-font-size(7);
     line-height: 6.5rem;
  }
}

.subtitle {
  @include relative-font-size(1.5); 
  letter-spacing: 0.025rem;

  @media(min-width: map-get($breakpoints, sm)) {
    @include relative-font-size(1.5);
  }
}

.heading {
  @include relative-font-size(1.625);
  letter-spacing: 0.15rem;

  @media (min-width: map-get($breakpoints, md)) {
    @include relative-font-size(1.875);
    
  }
}

.subheading {
  @include relative-font-size(1.25);
  letter-spacing: .1rem;

  @media (min-width: map-get($breakpoints, md)) {
    @include relative-font-size(1.125);
  }
}

.copy {
  @include relative-font-size(1);
}

.detail {
  @include relative-font-size(0.875);
}

.small {
  @include relative-font-size(0.75);
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @media (min-width: map-get($breakpoints, md)) {
     @include relative-font-size(2.25);
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.375);
  line-height: 1.825rem;

  @media (min-width: map-get($breakpoints, sm)) {
    @include relative-font-size(1.75);
    line-height: inherit;
  }
}

.list-style-none {
  list-style: none;
}
