---
layout: default
---

<div class="home">
  <div class="md-flex flex-row flex-1">
    <div class="lg-w75">
      {%- if site.posts.size > 0 -%}
        {%- for post in site.posts limit:1 -%}
          <div class="flex flex-col items-start">
            {%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
            <span class="detail color-grey">{{ post.date | date: date_format }}</span>
            
            <a class="PostLink--featured" href="{{ post.url | relative_url }}">
      
              <div class="PostLink--featured__title-container flex flex-col">
                <h2 class="uppercase heading">
                  {{ post.title | escape }}
                </h2>
                <h3 class="italic subheading">{{ post.subtitle }}</h3>
              </div>
          
              <div class="PostLink--featured__thumbnail">
                <img src="{{ post.thumbnail }}" alt="thumbnail for {{post.title}}" />
              </div>
              <div class="PostLink--featured__illustration">
                <img src="{{ post.illustration }}" alt="illustration for {{post.title}}" />
              </div>
            </a>
          </div>
        {%- endfor -%}
      {%- endif -%}
      <h3 class="mb2 mt4 copy"><strong>Archive</strong></h3>
      <ul class="m0 list-style-none">
        {%- if site.posts.size > 0 -%}
          {%- for post in site.posts offset:1 -%}
              <li class="PostLink mb2 flex flex-row">
                <a class="PostLink__thumbnail mt_5 mr1" href="{{ post.url | relative_url }}">
                  <img src="{{ post.thumbnail }}" alt="thumbnail for {{post.title}}" />
                </a>
                <div>
                  {%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
                  <span class="detail color-grey">{{ post.date | date: date_format }}</span>
                  <h3>
                    <a class="post-link uppercase" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }} 
                    </a>
                  </h3>
                  <p class="italic">{{ post.subtitle }}</p>
                  {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                 {%- endif -%}
                </div>
              </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>
